h1 {
	font-size: 2em;
}
header {
	width: 950px;
	margin: 0 auto;
	
}

header nav {
	margin-top: 10px;
}

header a.append-1 {
	padding-right: 10px;
}

header h1 {
	font-family: Helvetica;
	display: inline;
	position: relative;
	left: 50px;
	top: -80px;
}

header a {
	display: inline;
}

body {
  background: none repeat scroll 0 0 #F5F6F7;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

.container {
	margin: 0 auto;
	width: 950px;
	margin-top: 1em;
}

#banners {
	background-color: white;
	border: 1px solid #DEDEDE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	width: 200px;
	padding: 10px;
}

img.banner {
	margin-bottom: 5px;
}



footer {
	margin: 0 auto;
	margin-top: 1em;
	width: 950px;
}

section#body_content {
	border: 1px solid #DEDEDE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#body_content, #side_body_content {
  	float: left;
  	background: white;
  	color: #333;
  	padding: 20px;
	width: 100%;

}

#menu {
	display: inline;
	margin: 28px auto 0;
}


#menu ul {
  list-style: none;
  height: 5;
  padding: 0px;
  padding-bottom: 15px;
  
}

#menu ul ul {
	position: absolute;
}

#menu ul li.first a {
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;

}

#menu ul li.last a {
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;

}

#menu ul li {
  float: left;
  margin-right: 1px;
  
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-size: 12pt;
background-image: url(/images/gradient.png); 
background-image: linear-gradient(bottom, #8BC53F 0%, #82B33E 51%, #8BC53F 30%);
background-image: -o-linear-gradient(bottom, #8BC53F 0%, #82B33E 51%, #8BC53F 30%);
background-image: -moz-linear-gradient(bottom, #8BC53F 0%, #82B33E 51%, #8BC53F 30%);
background-image: -webkit-linear-gradient(bottom, #8BC53F 0%, #82B33E 51%, #8BC53F 30%);
background-image: -ms-linear-gradient(bottom, #8BC53F 0%, #82B33E 51%, #8BC53F 30%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #8BC53F),
	color-stop(0.51, #82B33E),
	color-stop(0.3, #8BC53F)
);


  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#menu ul li.selected a, #menu ul li a:hover, #menu ul li.selected ul li a:hover {
  background: #47631f;
}

#menu ul li ul li a, #menu ul li.selected ul li a{
	background: #618A28;
}

#menu ul li ul li a {
	display: none;
}

#menu ul li:hover ul li a {
	display: block;
}