
<span><%= link_to image_tag("NSKBaanlogoconcept3zonderlocatie150.png"), root_path %>
<h1>17-18 Mei FBK Stadion Hengelo</h1></span>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
